[Unit]
Description=My Python App
After=network.target

[Service]
User=root
WorkingDirectory=/home/apps/MyWorld
ExecStart=/usr/bin/python3 /home/apps/MyWorld/main.py
Restart=always

[Install]
WantedBy=multi-user.target

